* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "EB-Garamond";
  src: url("../assets/fonts/EB_Garamond/EBGaramond-VariableFont_wght.ttf");
}

@font-face {
  font-family: "EB-Garamond-Bold";
  src: url("../assets/fonts/EB_Garamond/EBGaramond-Bold.ttf");
}

ul {
  list-style-type: none;
}

body {
  font-family: EB-Garamond, 'Times New Roman', Times, serif;
  background-color: rgb(164, 178, 199);
  font-size: 10px;
}

#root > div {
  margin: 30px 0 30px 0;
  display: grid;
  grid-template-columns: 45vw 45vw;
  grid-gap: 5vw;
  justify-content: center;
}

@media only screen and (max-width: 1400px) {
  #root > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 400px) {
  #root > div {
    align-items: flex-start;
  }
}