form {
    border: 1px solid rgb(181, 181, 181);
    padding: 20px;
    background-color: white;
    font-size: 1.8em;
}

form p > label+input, form p > button{
    margin-bottom: 10px;
}

form section {
    margin-bottom: 10px;
}

form h1 {
    text-align: center;
    margin-bottom: 10px;
}

form h2{
    font-family: EB-Garamond-Bold;
    text-align: center;
    background-color: rgb(0,0,0);
    color: white;
}

form h3 {
    margin: 10px;
}

form p {
    display: flex;
    margin: 10px;
}

form p label {
    width: 10vw;
    min-width: 120px;
}

form #profile {
    width: 70%;
    height: 50px;
}

form button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: inherit;
    color: #0b5394ff;
    margin-left: 10px;
    font-size: 1em;
}

form button:hover {
    color: rgb(82, 158, 224);
}

#form-education ul, #form-experience ul, #form-skills ul, #project-experience ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

#form-education ul, #form-experience ul, #project-experience ul {
    margin-left: 10px;
}

.education-field, .experience-field, .project-field {
    position: relative;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    border: #0b5394ff 1px solid;
    background-color: rgb(5, 39, 86);
    color: white;
    width: 300px;
    padding-left: 15px;
    border-radius: 5px;
}

.education-field .form-delete-btn, .experience-field .form-delete-btn, .project-field .form-delete-btn {
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    position: absolute;
    left: -5px;
    top: -5px;
    margin: 0;
    width: 20px;
    height: 20px;
    border-radius: 5px;
}

.form-delete-btn:hover {
    color: red;
}

.crop-btn {
    font-size: 0.8em;
}

form input[type="file"] {
    max-width: 40%;
}

#form-profile-image {
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 1400px) {
    form {
        width: 80vw;
        margin: 0;
    }
}

@media only screen and (max-width: 450px) {
    form {
        width: 98%;
        min-width: 350px;
    }
}