#preview {
  display: grid;
  position: sticky;
  top: 0;
  border: 1px solid rgb(181, 181, 181);
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 4fr;
  background-color: white;
  font-size: 1vw;
  height: calc(45vw * 1.2);
}

hr {
  margin: 5px 0 5px 0;
}

#preview h1, #preview h2 {
  text-transform: uppercase;
  font-family: EB-Garamond-Bold;
}

#preview h1 {
  font-size: 2.5vw;
}

#preview h2 {
  font-size: 1.5vw;
}

#preview-heading {
  grid-column: 1/3;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: #0b5394ff;
  color: white;
}

#preview-heading div:nth-child(1) {
  grid-column: 1 / 2;
  width: calc(100% + 2vw);
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-picture-figure {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 10vw;
  height: 10vw;
  background-color: white;
}

.profile-picture-figure img {
  width: 15vw;
}

#preview-heading div:nth-child(2) {
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin-left: calc(15px + 2vw);
}

#preview-sidebar {
  padding: 15px;
  grid-column: 1/2;
  grid-row: 2/3;
  background-color: rgb(28, 24, 24);
  color: white;
  margin-left: 2vw;
  min-width: 1px;
}

#preview-sidebar > div {
  padding: 15px 0 15px 0;
}

#preview-contacts div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  word-break: break-all;
}

#preview-contacts div i {
  margin-right: 10px;
}

#preview-skills ul {
  list-style: disc;
  margin-left: 20px;
}

#preview-main {
  padding: 15px;
  grid-column: 2/3;
  grid-row: 2/3;
}

#preview-main > * {
  padding: 10px 0 10px 0;
}

/* #preview-main ul li{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
} */

.education-item li{
  display: grid;
  grid-template-columns: auto;
  grid-template-areas: 
    "name name name date"
    "location location location gpa";
}

.education-item li p:nth-child(1) {
  grid-area: name;
}

.education-item li p:nth-child(2) {
  grid-area: date;
  text-align: end;
}

.education-item li p:nth-child(3) {
  grid-area: location;
}

.education-item li p:nth-child(4) {
  grid-area: gpa;
  text-align: end;
}

.preview-date {
  font-style: italic;
}

@media only screen and (max-width: 1400px) {
  #preview {
    position: static;
    width: 90vw;
    height: calc(90vw * 1.2);
    font-size: 2vw;
    margin: auto;
  }

  #preview h1 {
    font-size: 4vw;
  }

  #preview h2 {
    font-size: 2.5vw;
  }

  .profile-picture-figure {
    width: 20vw;
    height: 20vw;
  }

  .profile-picture-figure img {
    width: 30vw;
  }
}